section {
  margin-top: 50px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #adadad; // Choose your own color here
}

.table {
  text-align: center;
}
